body {
    margin: 0;
}

.join-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px;
    padding-top: 8%;
}

.join-box__text {
    width: 700px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: justify;
}

.join-box__button {
    background: #B88800;
    width: 150px;
    height: 60px;
    box-sizing: content-box;
    padding: 0 10px 0 10px;
    border: none;
    border-radius: 20px;
    margin-top: 60px;
    cursor: pointer;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
}

.join-box__button:hover {
    .join-box__button--underline {
        background: #FFF;
    }
}

.join-box__button--underline {
    position: relative;
    background: #B88800;
    top: 8px;
    width: 90%;
    height: 2px;
    margin: auto;
    transition: all 0.3s;
}

.meetings-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 100px;
    justify-items: center;
    padding: 20px 200px 200px 200px;
}

.meetings-box img {
    width: 150px;
    border-radius: 3px;
}

.meetings-box__meeting {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #FFF;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
}

.functionalities {
    background: #EEE;
    display: grid;
    grid-gap: 50px;
    padding: 200px 0 200px 0;
    border-radius: 20px;
    margin: 0 5% 0 5%;
}

.functionalities__func {
    background: #111;
    display: flex;
    border-radius: 50px;
    margin: 0 15% 0 15%;
    color: #EEE;
}

.functionalities__func__text {
    display: flex;
    align-items: center;
    padding: 50px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 500;
}

.functionalities__func img {
    width: 350px;
    height: 350px;
    padding: 50px;
}

.modal-dialog {
    max-width: 450px;
}

.modal-title {
    margin: auto;
}

.modal-body {
    padding: 20px 50px 20px 50px;
}

.mb-3 {
    text-align: center;
}

.mb-3 label {
    margin: 25px 0 15px 0;
}

.form-control {
    border: none;
    border: 1px solid #FFF;
    border-bottom: 1px solid #999;
    border-radius: 0;
    transition: all 0.3s;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #222;
    border-radius: 15px;
}